@font-face {
    font-family: Raleway;
    src: url('./fonts/Raleway.ttf');
}
@font-face {
    font-family: Raleway-bold;
    src: url('./fonts/Raleway-bold.ttf');
}

:root {
    --pale-blue: hsl(243, 100%, 93%);
    --pale-yellow: hsl(60, 100%, 90%);
    --grayish-blue:hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}


*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    
}

body{
    -webkit-font-smoothing: antialiased;
    line-height: 1.3em;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height:  100vh;
    background-color: var(--very-dark-blue);
}

.bg-img{
    position: fixed;
    width: 1920px;
    top: 50vh;
}

@media only screen and (min-width: 1920px){
    .bg-img{
        width: 100%;
    }
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    min-width: 670px;
    
    z-index: 9999;
}

.div-file{
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    height: 280px;
    border-radius: 20px 130px 20px 20px;
    padding: 50px;
}

.div-file > img{
    height: 55px;
}

.div-file ul {
    display: flex;
    margin-top: 40px;
}

.div-file ul li{
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--very-dark-blue);
    margin-right: 20px;
    border-radius: 18px;
}

.div-file ul li img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
}

.div-file ul li + li img {
    height: 25px;
}

.div-memory{
    background: var(--dark-blue);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    display: block;
    flex-grow: 1;
    height: 200px;
    width: 55%;
    color: white;
    font-family: Raleway;
    font-style: 14px;
    font-weight: 100;
    letter-spacing: 1.3px;

    margin-left: 40px;
    border-radius: 20px;
    padding: 50px;
    transform: translate(0%, +20%);
}

.load-description{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.load-ext{
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--very-dark-blue);
    height: 22px;
    border-radius: 11px;
    padding: 3px;
    margin-top: 18px;
    margin-bottom: 14px;
}

.load-line{
    display: flex;
    width: 70%;
    height: 100%;
    padding: 2px;
    border-radius: 9px;
    background: linear-gradient(to right, var(--pale-yellow), var(--grayish-blue))
}

.load-circle{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 12px;
    border-radius: 6px;
    margin-left: auto;
    background-color: white;

}

.ballon-up{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    height: 80px;
    margin-left: auto;
    position: relative;
    top: -200px;
    border-radius: 15px 15px 0px 15px;
}

.ballon-up p{
    font-family: 'Raleway-bold';
    color: var(--very-dark-blue);
    font-size: 43px;
    font-weight: 800;
}

.ballon-up p + p {
    color: var(--grayish-blue);
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.ballon-down{
  width: 0; 
  height: 0;
  border-right: 13px solid white;
  border-top: 13px solid white;
  border-left: 13px solid transparent;
  border-bottom: 13px solid transparent;
  margin-left: auto;
  position: relative;
  top: -200px
}